    #landscape img {
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: -100;
}
.container{
  width:100%;
}
nav, nav-wrapper {
    background-color: transparent;
    padding: 0;
    width: 100%;
    margin: 0;
    box-shadow: none;
    z-index: 100;
}

.large.material-icons.right {
    padding-right: 20px;
    font-size: 50px;
}

body {
    background-color: #17431a;
}

logo-container a .brand-logo {
    color: #cc9610
}

.dropdown-content li>a,
.dropdown-content li>span {
    
        color: #cc9610;
        font-size: 20px;
        background-color: #3d4862;
    }
    label {
        color: brown;
        font-size: 25px;
    }
    dt>a {
        color: brown;
        font-size: 30px;
    }
    #shadowtext {
        text-shadow: 5px 3px black;
    }
    .icon {
        display: inline-block;
    }
    #hemingway {
        font-style: italic;
        text-shadow: 2px 2px black;
        font-size: 2rem;
    }
    #pinstruct {
        font-size: 1.55rem;
    }
    p {
        line-height: 2rem;
    }
    .parallax-container {
        margin: 0;
        min-height: 450px;
        line-height: 0;
        height: auto;
        width: auto;
        color: rgba(255, 255, 255, .9);
    }
    .parallax-container .section {
        width: 100%;
    }
    @media only screen and (max-width: 992px) {
        .parallax-container .section {
            position: absolute;
            top: 40%;
        }
        #index-banner .section {
            top: 10%;
        }
    }
    @media only screen and (max-width: 600px) {
        #index-banner .section {
            top: 0;
        }
    }
    .icon-block {
        padding: 0 15px;
    }
    .icon-block .material-icons {
        font-size: inherit;
    }
    footer.page-footer {
        margin: 0;
    }
    .green.darken-4 {
        color: #17431a;
    }
    .green-text.green.darken-4 {
        color: #17431a;
    }